.lot-card {
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    min-height: 155px;
}

.header-lot {
    height: 3rem;
}

.header-lot-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.lot-info-name, .lot-info-other  {
    display: flex;
    align-items: center;
}

.lot-info-name p, .lot-info-other p {
    margin: 0 10px;
}

.lot-info-name p {
    font-weight: bold;
}

.lot-info-name small {
    color: lightgrey;
}

.link-tbankrot {
    margin: 0 0 0 10px;
}

.total-cost {
    font-weight: bold;
    font-size: 2rem;
}

.body-lot {
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
}

.body-lot-description {
    min-height: 50px;
}

.footer-lot {
    padding: 1rem 0 0;
}

.body-lot-buttons {
    border-left: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.body-lot-buttons a{
    width: 4rem;
    margin: 0.2rem 0
}

.footer-lot-publish-date {
    display: flex;
    justify-content: flex-end;
}

.footer-lot-publish-date p {
    color: black;
}
